APP_ENV=local
APP_NAME=Freight Back Office OS
APP_VERSION=0.1.0
DEBUG=true

DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/freight_back_office_os
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/1

SECRET_KEY=change-me
ACCESS_TOKEN_EXPIRE_MINUTES=60

TIMEZONE=America/Toronto

CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
STORAGE_LOCAL_ROOT_PATH=./data/sandbox/uploaded-docs

REDIS_URL=redis://localhost:6379/0